main {
    width: 100%;
}

#section-kits ul, #section-renders ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-kits li, #section-renders li {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
}

hr {
    border-top: 1px solid white;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 48px;
    }

    p {
        font-size: 16px;
    }

    #section-kits li, #section-renders li {
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 1em;
    }
}