footer {
    padding: 20px;
    text-align: center;
    background-color: #f7f2ea;
    color: #171718;
}

table, td {
    margin-left: auto;
    margin-right: auto;
}

.social-media-icons {
    border: 0 solid grey;
}

.social-media-icons-attribution {
    font-size: 10px;
}