body {
	line-height: 1.4;
}

header {
	font-size: 120px;
}

.intro {
	font-size: 20px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	padding: 20px;
	background-color: #f7f2ea;
	color: #171718;
	alignment: center;

}
