header {
	margin: 0;
	padding: 0;
}
#intro {
	min-height: 200px;
	text-align: center;
	background-color: #f7f2ea;
	color: #171718;
	alignment: center;
	width: auto;
}

#intro h1 {
	padding-top: 80px;
	padding-bottom: 30px;
	font-size: 35px;
}

#intro .content-wrap {
	font-size: 14px;
	padding: 0 1.5em;
}
